.product__page {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.product__page img {
    width: 300px;
}

.description {
    margin-top: 20px;
}
.description ul {
    list-style: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.261);
}

.active{
    border-bottom: 3px solid rgb(0, 0, 0);
}

.description ul li{
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

.content {
    margin-top: 15px;
}

.main {
    margin-top: 50px;
}
.price {
    margin-top: 50px;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.price li {
    padding: 7px 0px;
    width: 140px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 300ms ease;
}
.price li:active {
    transform: scale(1.05);
}
.selected {
    background-color: #ffe8e8;
}