.categories ul {
    margin-top: 25px;
    margin-bottom: 10px;
    list-style: none;
}

.categories ul li,
.categories ul li div:first-child {
    display: inline;
    margin-right: 25px;
    transition: color 500ms ease;
}

.categories ul li {
    position: relative;
}

.categories ul li:first-child {
    position: relative;
    cursor: pointer;
}

.categories ul li div:first-child {
    cursor: pointer;
}

.categories ul li .subcategory {
    position: absolute;
    left: -20px;
    top: 20px;
    width: 180px;
    background: #fcf5f5;
    padding: 20px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.categories ul li:hover .subcategory {
    visibility: visible;
    opacity: 1;
    border-radius: 10px;
}

.subcategory div {
    padding-top: 10px;
    margin-left: 15px;
}

.subcategory div span {
    cursor: pointer;
}


.categories .navigation {
    float: right;
    cursor: pointer;
}

.categories .navigation div {
    display: inline;
}